services:
  api-gateway:
    build: ./api-gateway
    env_file:
      - ./api-gateway/.env
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - template-service
      - email-service
      - push-service
    networks:
      - app-network

  user-service:
    build: ./user-service
    env_file:
      - ./user-service/.env
    ports:
      - "4001:4001"
    depends_on:
      - postgres
    networks:
      - app-network

  template-service:
    build: ./template-service
    env_file:
      - ./template-service/.env
    ports:
      - "4002:4002"
    networks:
      - app-network

  email-service:
    build: ./email-service
    env_file:
      - ./email-service/.env
    ports:
      - "4003:4003"
    depends_on:
      - rabbitmq
    networks:
      - app-network

  push-service:
    build: ./push-service
    env_file:
      - ./push-service/.env
    ports:
      - "4004:4004"
    depends_on:
      - rabbitmq
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifications
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge